* {
    margin: 0px;
    padding: 0px;
}

body {
    background: url(../images/slider/inb2.jpg) no-repeat center center fixed;
    background-size: cover;
    overflow-x: hidden;
}

#wal {
    height: 100%;
    width: 100%;
    background: rgb(100, 84, 84);
    border: 2px solid rgb(250, 182, 55);
    border-radius: 3%;
    opacity: 0.6;
    color: white;
}

#wupper {
    height: 150px;
    width: 100%;
}

#wupperl {
    height: 100%;
    width: 80%;
    float: left;
}

#wupperl img {
    height: 50%;
    margin: 20px 0px 0px 50px;
    border-radius: 40%;
	width:14%;
}

#wupperr {
    height: 46.5%;
    width: 14%;
    float: left;
    text-align: center;
    padding: 40px;
}

#wmiddle {
    height: 180px;
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-style: inherit;
    font-size: 28px;
    text-shadow: 4px 4px blue;
    padding: 25px 0px 0px 0px;
}

#tmembdtl{
	
}

#tmembdtl div{
 
}

#tmembdtl ul{
 text-decoration: none;
    list-style: none;
 
}

#tmembdtl ul li{
	background-color: black;
    margin: 2px;
    padding: 2px;
    font-weight: bolder;
    text-shadow: 1px 1px aqua;
    border: 1px solid whitesmoke;
    border-radius: 10px;
}

#tmembdtl ul li:hover{
background-color: rgba(250, 151, 22, 0.928);
border: 3px dotted green
}
	
#tmembdtl img{
 height: 60px;
 width: 35%;
 border-radius: 20%;
 margin: 2px 60%;
 
}

#tmembdtl h5{
	color:white;
    background-color: rgba(250, 151, 22, 0.928);
	text-align:center;
	border: 2px solid whitesmoke;
}


#wlower {
    
    width: 100%;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    padding: 20px 0px 0px 0px;
}

#wlower button {
    
    width: 150px;
    padding: 5px;
    margin: 12px 0px 0px 0px;
    background: rgba(250, 151, 22, 0.928);
}
/* index page End */

/* header section start */

#headerhead {
    background: rgb(2, 0, 17);
    color: white;
    text-align: center;
    text-decoration: none;
	
}

#headerheadl span {
    padding: 10px 0px 5px 80px;
    margin-left: 0px;
}

#headerheadl span a {
    text-decoration: none;
    color: white;
}

#compinfo {
    background: #1896d2;
    padding: 2px;
    margin-top: 20px;
    border-radius: 10px;
}

#hsocial {
    margin-left: 50px;
}

#hsocial a {
    text-decoration: none;
    color: white;
    margin-left: 12px;
}

#hsocial img {
    height: 20px;
    background: #1896d2;
    border-radius: 2px;
}

#sthead{
    text-align: center;
    
    padding: 5px;
    background-color:rgba(250, 151, 22, 0.928) ;
    color: rgb(255, 255, 255);
    font-size: 25px;
    font-weight:bold;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	

}
#sthead p{
    font-size: 15px;
}
#hmenu{height: 20px;}


#menulist {
    height: 100%;
    margin-left: 80%;
    text-align: right;
}

#menulist li {
    
    font-weight: bold;
    width: 100%;
}

#menulist a {
    color: white;
}

#menulist a:hover {
    color: #000000
}

/* header section end */

/*---- HOME PAGE START --*/
#sptime {
    color: rgb(2, 0, 17) ;
    font-size: 20px;
    padding: 7px;
    border-radius: 20px;
    border: 2px solid rgb(251, 252, 247);
    opacity: 0.6;
	
}


#wplace{margin-top: 40px;
padding:10px;
height:100%;
background-color: rgb(242, 242, 242);
}

#dayList {
    text-align: center;
	
}

#ddlday
{
	padding:5px;
	border: 2px solid blue;
	text-align:center;
	background-color: rgb(227, 241, 100);
	font-size:18px ;
	font-weight:bolder;
	text-shadow:1px 2px rgba(250, 151, 22, 0.928);
}

#ddlday option{
	margin:2px;
	border:1px solid aqua;
}

#opthead {
    font-size: 22px;
    padding: 4px;
    text-align: center;
    font-weight: bolder;
    color: black;
}
#opthead:hover {
    background-color: rgb(250, 151, 22, 0.928);
    border-radius: 5px;
    color: white;
}

#workPlace {
    height: 100%;
	width:100%;
	text-align:center;
}

#workPlace img{
	height:100%;
	width:100%;
}

#autherList {
    
    width: 100%;
	height:100%;
	text-align: center;
}


#autherList ul {
    text-decoration: none;
    list-style: none;
    text-align: left;
}

#autherList ul li {
    background-color: rgb(227, 241, 100);
    margin: 2px;
    padding: 4px 7px;
    font-weight: bolder;
    text-shadow: 1px 1px rgba(250, 151, 22, 0.928);
    border: 2px solid whitesmoke;
    border-radius: 10px;
}

#autherList ul li:hover {
    background-color: whitesmoke;
    border: 2px dotted green;
}

#autherList ul li.a {
    text-decoration: none;
    list-style: none;
}

/*-- Home Page End--*/


/* WHO WE ARE PAGE START.......*/
/* About Section Start*/

#abtouter {
    background: white;
}

#abtupper {
	margin-top:40px;
    font-weight: bold;
    text-align: center;
}

#abtmiddle {
    background: rgb(236, 236, 236);
    padding: 10px 50px 10px 50px;
    text-align: center;
    opacity: 0.8;
}

#abtmiddle span {
    margin: 50px;
    word-spacing: 15px;
    padding: 10px 50px 0px 50px;
}

#abtlower {
    background: rgba(250, 151, 22, 0.928);
    width: 100%;
    text-align: center;
    color: white;
    font-weight: bold;
}


/* About Section End*/


/*Contact Section Start */

#couter {
    background: rgb(251, 251, 251);
}

#cupper {
    text-align: center;
    font-weight: bold;
}

#cbox {
    margin-top: 20px;
    color: black;
    text-align: center;
    border-right: 1px solid rgb(221, 208, 208);
}

#cbox span {}

#cbox span i {
    color: rgb(52, 143, 248);
}

#cbox a {
    text-decoration: none;
    color: black;
}

#cbox a:hover {
    background: rgb(248, 239, 239);
    color: rgb(77, 77, 230);
    border-radius: 4px;
}

.chead {
    font-weight: bold;
    color: silver;
    font-size: 20px;
}

#clower {
    height: 350px;
}

#devouter{
    padding-left:50px;
	background-color: white;
	
	
	
	
}

#devouter .col-sm-3{
	
}

/*Contact Section End */
/* Who we are Page End */

/*Fotter Section Start */

#fouter {
    border: 1px solid gray;
    background:rgba(250, 151, 22, 0.928);
    color: white;
}

#fupper {
    min-height: 10px;
    background: rgb(1, 0, 12);
}

#fbox {
    color: white;
    padding-left: 50px;
}

#fsubbox {
    text-align: center;
    padding: 20px;
}

#fbox a {
    text-decoration: none;
    color: white;
}

#fsocial {}

#fsocial a {
    margin-left: 10px;
    background: rgb(60, 158, 238);
    border-radius: 6px;
}

.fhead {
    font-weight: bold;
}

#fbottom {
    text-align: center;
    color: white;
    background: rgb(2, 0, 17);
    font-weight: bold;
}


/*Fotter Section End */